[defaults]
inventory = inventory
# Use the standard default callback...
stdout_callback = default
# ...but also allow ad-hoc commands (like 'ansible all -m ping') to use it
bin_ansible_callbacks = True
interpreter_python = auto_silent

[callback_default]
# ...and configure that default callback to output YAML
result_format = yaml